<div class="app-container">
  <h3>
    Welcome to the XILO Technical Assessment! Please click on your objective
    below:
  </h3>

  <div class="objectives">
    <button mat-raised-button color="primary" routerLink="view-files">
      Objective 1
    </button>
    <button mat-raised-button color="primary" routerLink="health-check">
      Objective 2
    </button>
    <button mat-raised-button color="primary">Objective 3</button>
  </div>
  <div class="route-container">
    <router-outlet></router-outlet>
  </div>
</div>
